#menus{
display: inline-block;
padding-left: 10px;
margin-right: 10px;
}
#dados{
display: inline-block;
}
#intervalo{
display: inline-block;
}
#logo{
    display: inline-block;
    padding: 10px 20px 5px 5px;
}
#wrap_login{
    margin: auto;
    background-image: linear-gradient(45deg,green,cyan);

}
#robo{
    background-image: url(../../../img/robo.png)  ;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}
#tela_login{
    display: block;
    background-color: rgba( 2,3,5,0.5);
    position: absolute;
    padding: 80px;
    border-radius: 15px ;
    color: white;
}
footer{
    clear: both ;
}