<!DOCTYPE html>
<html lang="pt" xmlns:th="https//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greenzord</title>
    <style type="text/css">
        #menus{ display: inline-block;
        padding-left: 10px;
        margin-right: 10px; }
        #dados{ display: inline-block }
    </style>
</head>
<body>
    <div id="wrap">
        <header>
            <div id="Titulo">
                <h1> <a>Greenzord</a></h1>
            </div>
        </header>
    </div>
    <div>
        <section>
            <div id="menus">
                <a href="/relatorio" >
                    <code>Relatorio</code>
                </a>
                <a href="/criar_bot" >
                    <code>Adicionar Bot</code>
                </a>
            </div>
            <div id="dados">
                <td> Usuario</td>
                <td> Saldo</td>
                <input type="submit" value="Sair">
            </div>
        </section>
    </div>
</body>
</html>