<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:if="${param.erro}">
    Senha ou usuario invalidos!
</div>
<div th:if="${param.logout}">
    Você se desconectou do Greenzord!
</div>

<h1>Greenzord</h1>
<form th:action="@{/login}" method="post">
    <div>
        <label>Login: <input type="text" name="username"/></label>
    </div>

    <div>
        <label>Senha: <input type="password" name="password"/></label>
    </div>

    <div><input type="submit" value="Sing in"></div>
</form>
</body>
</html>