<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Greenzord - Login </title>
        <meta charset="UTF-8">
        <meta name="description" content="O robô para automatizar suas apostas esportivas"/>
        <meta name="keywords" content="apostas, trade, esportivas, robô"/>
        <meta name="author" content="João Gabriel de Oliveira Ponciano e João Messias da Silva Medeiros"/>
        <link rel="stylesheet" type="text/css" href="estilo.css" />
        <style type="text/css">
            a{
                color: green;
                text-decoration: none;
            }

            header h1{
                padding: 10px 20px 5px 5px;
            }
            header p{
                padding:  0px 0px 10px 10px ;
            }

        </style>
    </head>
    <body>
        <div id="wrap_login">
            <div id="robo">
                <header>
                    <div id="logo">
                        <img src="../../../img/robo.png" alt="Logo html" width="50" />
                        <h1> <a>Greenzord</a></h1>
                    </div>

                    <p><strong><a>O robô para automatizar suas apostas esportivas</a></strong></p>
                </header>

                <nav>
                    <section>
                        <div id="tela_login">
                            <h1>Login do Greenzord</h1>
                            <p>Informe seu usuario e senha</p>
                            <form th:action="@{/login}" method="post">
                                <div>
                                    <label>Usuario:
                                    <br>
                                    <input type="text"  placeholder="Digite seu Usuario" /></label>
                                    <br>
                                    <label>Senha:
                                    <br>
                                    <input type="password"  placeholder="Digite sua Senha"/></label>
                                    <br>
                                    <input type="submit" value="Entrar">
                                </div>



                            </form>
                        </div>

                    </section>

                </nav>
                <footer> <em>Projeto de Tcc</em> </footer>
            </div>

        </div>

    </body>
</html>