<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Relatorio</title>
    <link rel="stylesheet" type="text/css" href="estilo.css" />
</head>
<body>
    <div id="wrap">
        <header>
            <div id="Titulo">
                <img src="../../../img/robo.png" alt="Logo html" width="50" />
                <h1> <a>Relatorio</a></h1>
            </div>
        </header>
        <nav>
            <section>
                <form th:action="@{/relatorio}" method="post">
                    <p>Filtros</p>
                    <div>
                        <td>bot: </td>
                        <select name="botselecionado">
                            <option value="bot1"> Bot 1 </option>
                            <option value="bot2"> Bot 2 </option>
                        </select>
                    </div>
                    <br>
                    <div id="intervalo">
                        <label>De: <input type="date" name="datainicial"/></label>
                        <label>á: <input type="date" name="datafinal"/></label>
                    </div>
                    <br>
                    <br>
                    <div><input type="submit" value="Buscar"></div>
                    <br>
                    <p>Resumo</p>

                    <br>
                    <div id="intervalo">
                        <p>Quantidade de Apostas: </p>
                        <p>Green's: </p>
                        <p>Red's: </p>
                    </div>
                    <br>
                    <div id="intervalo">
                        <p>Valor total apostado: </p>
                        <p>Retorno Total: </p>
                        <p>Saldo: </p>
                    </div>

                    <p>Historico</p>

                    <div><input type="submit" value="Voltar"></div>

                </form>
            </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer>
            Projeto de Tcc de João Gabriel e João Messias
        </footer>
        </nav>
    </div>



</body>
</html>