<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Criar_Bot</title>
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <style type="text/css">
       nav section{
           display: block;
       }
    </style>
</head>
<body>
    <div id="wrap">
        <header>
            <div id="Titulo">
                <img src="../../../img/robo.png" alt="Logo html" width="50" />
                <h1> <b>Criar Bot</b></h1>
            </div>
        </header>
        <nav>
            <section>
                <form th:action="@{/criar_bot}" method="get">
                    <div>
                        <label>Nome do Bot: <input type="text" name="nomebot"/></label>
                    </div>
                    <br>
                    <div>
                        <label>Responsabilidade: <input type="number" name="responsabilidade"/></label>
                    </div>
                    <br>
                    <div>
                        <label>Odd minima: <input type="number" name="oddmin"/></label>
                    </div>
                    <br>
                    <div>
                        <label>Odd maxima: <input type="number" name="oddmax"/></label>
                    </div>
                    <br>
                    <div id="intervalo">
                        <label>Tempo de jogo : <input type="number" name="tempoinicial"/></label>
                        <label>á: <input type="number" name="tempofinal"/></label>
                        <br>

                    </div>
                    <br>
                    <div>
                        <label>Times: <input type="text" name="time"/></label>
                    </div>
                    <br>
                    <div id="intervalo">
                        <label>Finalizações de: <input type="number" name="finalizacoesmin"/></label>
                        <label>á: <input type="number" name="finalizacoesmax"/></label>
                        <br>
                    </div>
                    <br>
                    <div id="intervalo">
                        <label>posse de bola de: <input type="number" name="possemin"/></label>
                        <label>á: <input type="number" name="possemax"/></label>
                        <br>
                    </div>
                    <br>
                    <br>
                    <br>
                    <input type="submit" value="Criar">
                    <a href="index.html">Voltar</a>

                </form>
            </section>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <footer> Projeto de Tcc de João Gabriel e João Messias</footer>
    </div>
</body>
</html>