#menus{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
#Titulo{
    padding: 10px 20px 5px 5px;
    color: white;
}
#Jogos h2{
    color: white;
}
#Bots h2{
    color: white;
}
#dados{
    display: inline-block;
    padding-left: 350px;
}
#intervalo{
    display: inline-block;
}
#logo{
    display: inline-block;
    padding: 10px 20px 5px 5px;
}
#wrap_login{
    width: 1080px;
    margin: auto;
    background-image: linear-gradient(45deg,green,cyan);

}
#wrap{
    background-image: linear-gradient(45deg,green,cyan);
}
#robo{
    background-image: url(../../../img/robo.png)  ;
    top: 1080px;
    background-repeat: no-repeat;
    background-size: contain ;
    background-position: center center;
}
#tela_login{
    display: block;
    background-color: rgba( 2,3,5,1);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px ;
    color: white;
}
footer{
    clear: both ;
}
a{
    position: absolute;
    text-decoration: none;
    color: black;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 1);
    padding: 5px;
    border-radius: 5px;
}