<!DOCTYPE html>
<html lang="pt" xmlns:th="https//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greenzord</title>
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <style type="text/css">
       section ul{
           list-style: none;
       }
       section ul li{
           display: inline-block;
           margin-right: 10px;
       }
       section ul li a{
           text-decoration: none;
       }

    </style>
</head>
<body>
    <div id="wrap">
        <header>
            <div id="Titulo">
                <img src="../../../img/robo.png" alt="Logo html" width="50" />
                <h1> <a>Greenzord</a></h1>
            </div>
        </header>
        <div>
            <section>
                <div id="menus">
                    <ul>
                        <li> <a href="/relatorio"> Relatorio </a></li>
                        <li> <a href="/criar_bot"> Adicionar bot </a></li>

                    </ul>

                </div>
                <div id="dados">
                    <td> Usuario</td>
                    <td> Saldo</td>
                    <input type="submit" value="Sair">
                </div>
                <div id="Jogos">
                    <h2>Jogos ao vivo</h2>
                    <ul>
                        <li> <a href=""> Campeonato Brasileiro </a></li>
                        <li> <a href=""> Premier League </a></li>
                        <li> <a href=""> Serie A </a></li>
                        <li> <a href=""> Budesliga </a></li>
                        <li> <a href=""> Ligue 1 </a></li>
                        <li> <a href=""> La liga </a></li>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                    </ul>
                </div>
                <div id="Bots">
                    <h2>Bots criados</h2>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

            </section>
            <footer>
                Projeto de Tcc de João Gabriel e João Messias
            </footer>
        </div>
    </div>

</body>
</html>